<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="userAction" class="com.action.UserAction">
        <property name="userService" ref="userService" />
    </bean>

    <bean id="cityAction" class="com.action.MyCityAction">
        <property name="cityService" ref="cityService" />
    </bean>

    <bean id="districtAction" class="com.action.DistrictAction">
        <property name="districtService" ref="districtService" />
    </bean>
</beans>